<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 id="h2">Here is your post in detail</h2>
    <p id="p">Post id: <%= post.id %></p>
    <div class="posts-container">
        <div class="post">
            <div class="img">
                <img  src="<%= post.image %>">   

            </div>
            <h3 class="user">@<%= post.user%> </h3>
            <h4 class="content"><%= post.content %></h4>
            <a id="a" href="/posts">Back to Posts</a>
        </div>
       
    </div>

    
</body>
</html>